.home-projects-section {
  text-align: left;
  margin: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.project-image {
  border-radius: 90%;
  width: 300px;
  height: auto;
  margin: 10px;
}

mat-card {
  margin: 10px 0px;
  max-width: 320px;
}


@media (min-width: 768px) {
// on larger screens align projects by rows
// limit to 2 projects per row
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    mat-card {
      flex: 0 0 calc(33.33% - 20px); // 20px is for margin
      // margin: 10px;
    }

  }

  .project-image {
    width: 90%;
    height: auto;
  }

  // .project-image {
  //   width: 370px;
  //   height: auto;
  //   margin: 10px;
  // }

  // mat-card {
  //   margin: 20px;
  //   max-width: 320px;
  // }


}

