<div class="bioapp-section-border-top">
  <mat-list>
    <!-- <mat-divider [inset]="false"></mat-divider> -->
    <h3 mat-subheader>{{ subheader }}</h3>
  </mat-list>

  <div *ngIf="formSubmitted" class="submission-message">
    Your form has been submitted. Thank you!
  </div>

  <form class="form-wrapper" [formGroup]="contactForm">
    <mat-form-field class="name" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Name" formControlName="fullName">
    </mat-form-field>

    <mat-form-field class="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="ex: johndoe@gmail.com" type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="message" appearance="outline">
      <mat-label>How can I help?</mat-label>
      <textarea matInput placeholder="Enter description..." formControlName="message"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()" >Submit</button>
  </form>
<!-- </mat-card> -->
</div>
