<div *ngIf="project" class="projects-page-wrapper">

  <h1 >{{ project.header }}</h1>
  <h3 class="subheader" >{{ project.subheader }}</h3>

  <div *ngIf="project.image" class="img-container mat-elevation-z15" >
    <!-- <img *ngFor="let img of project.image" [src]="img" [alt]="project.subheader"> -->

    <app-image-slider
    [indicatorsVisible]="true"
    [animationSpeed]="800"
    [slides]="project.image"
    [autoPlay]="true"
    [autoPlaySpeed]="2000"
  ></app-image-slider>

    <!-- <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="25"
      slides="5"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr">
      <mat-carousel-slide
        *ngFor="let img of project.image"
        [image]="img">
      </mat-carousel-slide>
    </mat-carousel> -->

  </div>

  <div *ngIf="project.video" class="video-container mat-elevation-z15">
    <video *ngFor="let vid of project.video" [src]="vid" controls muted playsinline></video>
  </div>

  <h3 class="section-title" *ngIf="project.skills">Skills Utilized</h3>
  <ul *ngIf="project.skills">
    <li *ngFor="let skill of project.skills">{{ skill }}</li>
  </ul>

  <h3 class="section-title" *ngIf="project.kpis">Key Performance Indicators</h3>
  <ul *ngIf="project.kpis">
    <li *ngFor="let kpi of project.kpis">{{ kpi }}</li>
  </ul>

  <h3 class="section-title" *ngIf="project.overview">Overview</h3>
  <p>{{ project.overview }}</p>

  <h3 class="section-title" *ngIf="project.software">Software Used</h3>
  <ul *ngIf="project.software">
    <li *ngFor="let soft of project.software">{{ soft }}</li>
  </ul>

  <h3 class="section-title" *ngIf="project.strategy">Market Strategy</h3>
  <p>{{ project.strategy }}</p>

  <h3 class="section-title" *ngIf="project.learning">Learning</h3>
  <p>{{ project.learning }}</p>
</div>
