<div class="get-in-touch-section bioapp-section-border-top">
  <h2 style="text-align: left; margin: 20px;">Let's Get In Touch</h2>

  <mat-divider [inset]="true" style="margin: 10px; width: 30%;"></mat-divider>

  <p>Interested in working together? I'd love to hear from you. Here's how you can reach me...</p>

  <p>Location: Dallas-Forth Worth, TX USA</p>

  <div>
    <!-- https://www.linkedin.com/in/dominikcneal/ -->
    <button (click)="goToLink('https://www.linkedin.com/in/dominikcneal/')" mat-icon-button>
      <mat-icon>linkedIn</mat-icon>
    </button>
    <button (click)="mailMe()" mat-icon-button>
      <mat-icon>email</mat-icon>
    </button>
    <a mat-icon-button href="tel:+18102503871">
      <mat-icon>phone</mat-icon>
    </a>
  </div>
</div>

