<h2>Building Products with Purpose</h2>

<div class="home-skills-section ">

  <!-- <h2>My Skills</h2> -->
  <p>Here are some of the skills I have developed over the years.</p>

  <div class="skill-tools-content" [@listAnimation]="skills" >
    <!-- <mat-card class="mat-elevation-z10" *ngFor="let skill of skills; let i = index" > -->

      <!-- <mat-card class="mat-elevation-z10 bioapp-card"> -->



      <!-- <mat-card-header>
        <mat-card-title class="bioapp-card-title">Skills & Tools</mat-card-title>
      </mat-card-header> -->

      <!-- <mat-card-content class="skill-tools-content"> -->

        <!-- <mat-grid-list cols="2"> -->
          <!-- <mat-grid-tile> -->


            <mat-list>
              <span matListItemTitle>Skills</span>
              <!-- <mat-list-item><span>Skills</span></mat-list-item> -->
              <mat-list-item>Data Analysis</mat-list-item>
              <mat-list-item>Stakeholder Management</mat-list-item>
              <mat-list-item>Roadmapping</mat-list-item>
              <mat-list-item>Requirement Gathering</mat-list-item>
              <mat-list-item>Strategy</mat-list-item>
            </mat-list>
          <!-- </mat-grid-tile> -->

          <!-- <mat-grid-tile> -->

            <mat-list>
              <span matListItemTitle>Tools</span>
              <!-- <mat-list-item><span>Tools</span></mat-list-item> -->
              <mat-list-item><span>Tableau</span></mat-list-item>
              <mat-list-item><span>Adobe Analytics</span></mat-list-item>
              <mat-list-item><span>Snowflake</span></mat-list-item>
              <mat-list-item><span>Monetate</span></mat-list-item>
              <mat-list-item><span>Jira</span></mat-list-item>
            </mat-list>
          <!-- </mat-grid-tile> -->
        <!-- </mat-grid-list> -->

      <!-- </mat-card-content> -->
    <!-- </mat-card> -->
  </div>

</div>
