.title {
  // font-size: 16px;
  margin-left: 48px;
  margin-bottom: 10px;
}

.subtitle {
  // font-size: 14px;
  margin-top: 0px;
  font-style: italic;

}

.blurb {
  margin-top: 10px;
}

.about-header{
  align-self: flex-start;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
}

.about-me {
  margin-top: 0px;

}

.headshot-container {
  width: 310px;
  margin-bottom: 15px;
}

.headshot {
  border-radius: 50%;
  width: 100%;
  height: auto;
}


