.title {
  // font-size: 16px;
  margin-left: 48px;
  margin-bottom: 10px;
}

.subtitle {
  // font-size: 14px;
  margin-top: 0px;
  font-style: italic;

}

.blurb {
  margin-top: 10px;
}

.about-header{
  align-self: flex-start;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
}

.about-me {
  margin-top: 0px;

}

.headshot-container {
  width: 310px;
  padding-bottom: 15px;
}

.headshot {
  border-radius: 50%;
  width: 100%;
  height: auto;
}


// /* Mobile styles */
// .about-me {
//   font-size: 16px;
//   /* other styles */
// }

// home-skills, home-projects, get-in-touch {
//   /* mobile styles */
// }

home-skills{
    /* mobile styles */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



/* Tablet styles */
@media (min-width: 768px) {
  .about-me {
    font-size: 18px;
    /* other styles */
  }

  home-skills {
    /* tablet styles */
    // align content within home-skills component to be centered

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // border-top-width: 100%;
    // border-bottom-width: 100%;
    font-size: larger;

    h2 {
      align-self: flex-start;
      margin: 20px;
    }
    .home-skills-section {
      text-align: center;
      // margin: 0px 20px;
      // padding-bottom: 15px;

      mat-list.mdc-list {
        padding: 8px 12px;
      }
    }

  }

  home-projects, get-in-touch {
    /* tablet styles */
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .about-me {
    font-size: 20px;
    /* other styles */
  }

  home-skills, home-projects, get-in-touch {
    /* desktop styles */
  }
}


