<h1 class="title">Dominik Neal</h1>
<h2 class="subtitle">Product Manager</h2>

<!-- <p class="blurb">A dynamic and results-driven professional with a highly successful background in the achievement of profitable business growth through the creation and execution of successful marketing strategies.</p> -->

<div class="about-container">

  <p class="about-me">
    Dominik is an experienced mobile and web product manager. In his 7 years of experience, he has launched products within E-commerce platforms such as payments, chat Bots/communication, recommendation engines using machine learning, and also has implemented converging legacy systems into modernization platforms.
  </p>

  <p class="about-me">
  In his’ time in product, he has ideated and launched experiences in North America, Europe, the United Kingdom, Asia-Pacific, and South America. This has given him a full grasp of consumer trends and behaviors in multiple regions.
  </p>

  <p class="about-me">
  If you’re looking for someone to implement one of your ideas or projects, Dominik would be a great resource for you or your company. Dominik has the experience you need for leading your team and hitting the ground running from Day 1.
  </p>

  <div class="headshot-container">
    <img class="headshot" src="/dominik.neal.io/assets/headshot.jpeg" alt="Dominik Neal">
  </div>

</div>

<p class="about-me">
  Dominik is an experienced mobile and web product manager. In his 7 years of experience, he has launched products within E-commerce platforms such as payments, chat Bots/communication, recommendation engines using machine learning, and also has implemented converging legacy systems into modernization platforms.
</p>

<p class="about-me">
In his’ time in product, he has ideated and launched experiences in North America, Europe, the United Kingdom, Asia-Pacific, and South America. This has given him a full grasp of consumer trends and behaviors in multiple regions.
</p>

<p class="about-me">
If you’re looking for someone to implement one of your ideas or projects, Dominik would be a great resource for you or your company. Dominik has the experience you need for leading your team and hitting the ground running from Day 1.
</p>

<div class="headshot-container">
  <img class="headshot" src="/dominik.neal.io/assets/headshot.jpeg" alt="Dominik Neal">
</div>

<home-skills></home-skills>

<home-projects></home-projects>

<get-in-touch></get-in-touch>
